@import "tailwindcss";

@theme {
  --color-primary: #1e40af;
  --color-secondary: #9333ea;
  --color-dark: #26262b;
}

.swiper-pagination-bullet {
  background: #765070;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
